<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Fenix</title>
    <link rel="shortcut icon" href="/bird.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="/js/search.js" defer></script>
</head>
<body>
    <header class="anim">
        <h2>
            Manga Fenix
        </h2>
        <nav>
            <ul>
                <li><a href="#">nuevos</a></li>
                <li><a href="#">Recientes</a></li>
                <li><a href="#">categorias</a></li>
                <li><a href="#">comunidad</a></li>
            </ul>
            <form  action="">
              
                 <input type="text"  id="buscar" placeholder="buscar..." 
                <button>
                    bsedds
                    <!-- <span class="material-symbols-outlined">
                        search
                    </span>  -->
                </button>
            </form>
            <a href="#" class="icon">
                <span class="material-symbols-outlined">
                    notifications
                    </span>
               
            </a>
            <div class="icon">
                <span class="material-symbols-outlined">
                    account_circle
                    </span>
                  
            </div>
        </nav>
    </header>
    <section class="news news-section">
        <div class="div new-contain">
            <a href="" class="new-Link">
                <div class="img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqWsDgpHq2_fidaC4_wyL0QfdhkhpoNE8ZjWgpcjxKfw&s" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="div new-contain">
            <a href="#" class="new-Link">
                <div class="img">
                    <img src="#" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="div new-contain">
            <a href="#" class="new-Link">
                <div class="img">
                    <img src="#" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="div new-contain">
            <a href="#" class="new-Link">
                <div class="img">
                    <img src="#" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="div new-contain">
            <a href="#" class="new-Link">
                <div class="img">
                    <img src="#" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="div new-contain">
            <a href="#" class="new-Link">
                <div class="img">
                    <img src="#" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="div new-contain">
            <a href="#" class="new-Link">
                <div class="img">
                    <img src="#" alt="new Image">
                </div>
                <p class="new-title">
                   Nuevo manga 2023
                </p>
            </a>
        </div>
        <div class="btn-cont">
            <div class="btn btn1">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                    </span>
            </div>
            <div class="btn btn2">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                    </span>
            </div>
        </div>
    </section>
    <div class="cuerpo">
        <section class="section topSection">
            <h2 class="font">Top rank</h2>
            <ul class="top-list">
                <li class="top-list-element">
                    <a href="">
                        <span class="list-number"><span class="font">1</span></span>
                        <div class="top-list-img">
                            <img src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2023/06/One-Piece-106-manga.jpg?resize=1280%2C2032&quality=80&ssl=1" alt="img">
                        </div>
                        <div class="top-list-element-info">
                            <h3 class="title">One piece</h3>
                            <div class="views symbol">
                                <span class="material-symbols-outlined">
                                    visibility
                                    </span>
                                1.2M
                            </div>
                            <div class="rate symbol">
                                <span class="material-icons">
                                    star_rate
                                    </span>
                                    4.5
                            </div>

                        </div>
                    </a>
                </li>
                <li class="top-list-element">
                    <a href="">
                        <span class="list-number"><span class="font">2</span></span>
                        <div class="top-list-img">
                            <img src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2023/06/One-Piece-106-manga.jpg?resize=1280%2C2032&quality=80&ssl=1" alt="img">
                        </div>
                        <div class="top-list-element-info">
                            <h3 class="title">One piece</h3>
                            <div class="views symbol">
                                <span class="material-symbols-outlined">
                                    visibility
                                    </span>
                                1.2M
                            </div>
                            <div class="rate symbol">
                                <span class="material-icons">
                                    star_rate
                                    </span>
                                    4.5
                            </div>

                        </div>
                    </a>
                </li>
                <li class="top-list-element">
                    <a href="">
                        <span class="list-number"><span class="font">3</span></span>
                        <div class="top-list-img">
                            <img src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2023/06/One-Piece-106-manga.jpg?resize=1280%2C2032&quality=80&ssl=1" alt="img">
                        </div>
                        <div class="top-list-element-info">
                            <h3 class="title">One piece</h3>
                            <div class="views symbol">
                                <span class="material-symbols-outlined">
                                    visibility
                                    </span>
                                1.2M
                            </div>
                            <div class="rate symbol">
                                <span class="material-icons">
                                    star_rate
                                    </span>
                                    4.5
                            </div>

                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <main class="manga-contain">
            <%const obj = response%>
            <% console.log(obj)%>
            <%for(let i=0;i<obj.length;i++){%>
            <div class="section-manga">
                <h3 class="section-title font"><%=obj[i].nameSection%></h3>
                <ul class="manga-list">
                    <%const elemento = obj[i].mangaList%>
                    <%for(let x=0;x<elemento.length;x++){%>
                <li class="manga-list-element">
                    <div class="efect">   
                    </div>
                  <a href="/manga/view/<%=elemento[x].id%>">
                    <div class="manga-list-element-img">
                      <span class="book-type"> <%=elemento[x].typeManga%></span>
                      <img src="<%=elemento[x].img%>" alt=" <%=elemento[x].title%>" alt="" loading="lazy">
                    </div>
                    <h3 class="manga-title"><%=elemento[x].title%></h3>
                    <div class="manga-rate">
                      <span class="rate-number"><%=elemento[x].bookRate%></span>
                    </div>
                    <div class="manga-element-more-info">
                      <div class="manga-views">
                        <span class="material-symbols-outlined">
                            visibility
                            </span>
                        <span class="views-number"><%=elemento[x].views%></span>
                      </div>
                      <div class="manga-time">
                        <span></span>
                        <span class="time"><%=elemento[x].dataTime%></span>
                      </div>
                    </div>
                  </a>
                </li>
                  <%}%>
     
              </ul>
            </div>
            <%}%>
        </main>
        <!-- <section class="nose">
            <h2 class="font">nose</h2>
        </section> -->
    </div>

</body>
</html>